.h1 {
    color: rgb(54, 181, 151);
    text-align: center;
}










/* .img {
    max-width: 100%;
    height: auto;
    
}

table{
    margin: auto;
    padding: 10px;
    border: 10rem;
}
/* ol{
    list-style: upper-latin;
} */ 